### **Some Standard Funtions**
Lets take some sample data
`For Example`:

In [1]:
data <- c(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)
name <- c("Rahul", "Sourav", "Kunal", "Abdul", "Swarnadeep", "Rajat", "Rahul")
movie_lenght <- c("Very Short", "Short", "Medium", "Long",
                  "Very Short", "Very Long", "Short")
print(data)
print(name)
print(movie_lenght)

 [1]  5 10 15 20 25 30 35 40 45 50
[1] "Rahul"      "Sourav"     "Kunal"      "Abdul"      "Swarnadeep"
[6] "Rajat"      "Rahul"
[1] "Very Short" "Short"      "Medium"     "Long"       "Very Short"
[6] "Very Long"  "Short"

#### **Mean and Standard Deviation**

In [2]:
mean_data <- mean(data)
print(paste("Mean:", mean_data))

std_dev <- sd(data)
print(paste("Standard Deviation:", std_dev))

[1] "Mean: 27.5"
[1] "Standard Deviation: 15.1382517704875"

#### **Head function**
Used to print the first `n` elements of a vector

In [3]:
print(head(data, n = 5))
print(head(name, n = 2))
print(head(movie_lenght, n = 3))

[1]  5 10 15 20 25
[1] "Rahul"  "Sourav"
[1] "Very Short" "Short"      "Medium"

#### **Factor Function**

In [33]:
ratings <- c(1:10)
print(ratings)
ratings_factor <- factor(ratings)
print(ratings_factor)
name_factor <- factor(name)
print(name_factor)
movie_lenght_factor <- factor(x = movie_lenght,
                              levels = c("Very Short", "Short", "Medium",
                                         "Long", "Very Long"),
                              ordered = TRUE)
print(movie_lenght_factor)
print(levels(movie_lenght_factor))

 [1]  1  2  3  4  5  6  7  8  9 10
 [1] 1  2  3  4  5  6  7  8  9  10
Levels: 1 2 3 4 5 6 7 8 9 10
[1] Rahul      Sourav     Kunal      Abdul      Swarnadeep Rajat      Rahul
Levels: Abdul Kunal Rahul Rajat Sourav Swarnadeep
[1] Very Short Short      Medium     Long       Very Short Very Long  Short
Levels: Very Short < Short < Medium < Long < Very Long
[1] "Very Short" "Short"      "Medium"     "Long"       "Very Long"

#### **Summary Function**
##### **For Numeric Data**

In [5]:
print(summary(ratings))
print(summary(ratings_factor))

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00    3.25    5.50    5.50    7.75   10.00
 1  2  3  4  5  6  7  8  9 10
 1  1  1  1  1  1  1  1  1  1

##### **For Character Data**

In [6]:
print(summary(name))
print(summary(name_factor))

   Length     Class      Mode
        7 character character
     Abdul      Kunal      Rahul      Rajat     Sourav Swarnadeep
         1          1          2          1          1          1

#### **Lenght and Sum Function**

In [7]:
print(length(data))
print(sum(data))
print(length(name))

[1] 10
[1] 275

[1] 7

#### **Min and max Function**

In [8]:
print(paste("Max of data:", max(data)))
print(paste("Min of data:", min(data)))
print(paste("Max of name:", max(name)))
print(paste("Min of name:", min(name)))
print(paste("Max of movie_lenght:", max(movie_lenght)))
print(paste("Min of movie_lenght:", min(movie_lenght)))

[1] "Max of data: 50"
[1] "Min of data: 5"
[1] "Max of name: Swarnadeep"
[1] "Min of name: Abdul"
[1] "Max of movie_lenght: Very Short"
[1] "Min of movie_lenght: Long"

#### **Sum and Sort Function**

In [9]:
dataset <- c(565, 9874, 13215, 21, 6554) # * Temporary dataset
dataset_sum <- sum(dataset)
dataset_sort <- sort(dataset)
cat("Dataset:", dataset, "\n")
print(paste("Sum of dataset:", dataset_sum))
cat("Sorted dataset: ", dataset_sort)
rm(dataset, dataset_sort, dataset_sum) # * Remove when unnecessary

Dataset: 565 9874 13215 21 6554
[1] "Sum of dataset: 30229"
Sorted dataset:  21 565 6554 9874 13215

### **Some Operations with vector**
#### **Taking vectors with shorthand**

In [10]:
ratings <- c(1:10) # * Creates a vector form 1 to 10
ratings            # * Prints the vector

 [1]  1  2  3  4  5  6  7  8  9 10

#### **Doing calculation**

In [11]:
ratings <- ratings / 10 #* Dividing all members of ratings by 10
ratings                 #! Prints the values (less used)
print(ratings)          #* Prints it nicely

 [1] 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

 [1] 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

In [12]:
print(ratings[ratings > 0.8]) #* Prints the values greater than 0.8

[1] 0.9 1.0

#### **Print the values without assigning**

In [13]:
print(ratings * 100)
rating_01 <- ratings == 0.1 #* Prints the truth values of the
print(rating_01)            #* vector elements mathing the condition

 [1]  10  20  30  40  50  60  70  80  90 100
 [1]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

#### **Naming a vector using `names` function**

In [14]:
year <- c(2005, 1973, 1977)
print(year)
names(year) <- c("Rahul", "Rajat", "Pallavi")
year <- c(Rahul = 2005,
          Rajat = 1973,
          Pallavi = 1977) # * This the same as above
print(year)
print(names(year))

[1] 2005 1973 1977
  Rahul   Rajat Pallavi
   2005    1973    1977
[1] "Rahul"   "Rajat"   "Pallavi"

##### **Accessing elements from the vector**

In [15]:
print(year["Pallavi"]) # * Printing the value of pallavi's DOB
print(year[1:2])  # * Prints all the elements between the range(inclusive)
print(year[c("Rajat", "Rahul")])
print(summary(year))   # * Summary of year

Pallavi
   1977
Rahul Rajat
 2005  1973
Rajat Rahul
 1973  2005
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1973    1975    1977    1985    1991    2005

##### **Operations on elements**

In [16]:
year[1] <- year[1] + 100  # * Add 100 to that specific element
print(year[1])
print(year[3] - year[2])  # * Substract with indexes
print(year["Pallavi"] - year["Rahul"])

Rahul
 2105
Pallavi
      4
Pallavi
   -128

##### **Checking for a specific condition**

In [17]:
years_gt_2025 <- year > 2025
print(years_gt_2025) # * Rahul will be true because 100 was added

  Rahul   Rajat Pallavi
   TRUE   FALSE   FALSE

##### **Check for the data type of any vector**

In [18]:
print(typeof(year))
print(typeof(name))
print(typeof(data))

[1] "double"
[1] "character"
[1] "double"

##### **Checking the condition of a data to be true**

In [ ]:
print(is.array(data))
print(is.character(name))
print(is.double(data))
print(is.vector(year)) # * There are many such is. functions
print(is.na(NA))
print(is.na(1 / 0))
print(1 / 0)

[1] FALSE
[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE
[1] FALSE
[1] Inf

[1] TRUE

#### **Doing some inequality operations**

In [21]:
movies_years <- c(1998, 2010, 2016)
print(movies_years > 2014)
print(movies_years == 2015)
print(movies_years != 2015)

[1] FALSE FALSE  TRUE
[1] FALSE FALSE FALSE
[1] TRUE TRUE TRUE

#### **Special indexing rule**

If we provide a negative index in a `vector` than `R` prints all other values removing that index.

In [26]:
print(movies_years)
print(movies_years[2])
print(movies_years[-2])

[1] 1998 2010 2016
[1] 2010
[1] 1998 2016